@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(214, 241, 172);
    color: rgb(223, 76, 76);
    font-family: 'Sono', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invert {
    /* filter: invert(1); */
}

header {
    padding: 20px;
    background-color: rgb(114, 221, 221);
}

header nav li {
    display: inline;
}

header a {
    padding: 10px;
    background-color: #ead9d9;
    color: rgb(50, 79, 85);
}

header a:hover {
    background-color: #f7eeee;
}

header img {
    width: 100px;
}

header input {
    border-radius: 20px;
    padding: 5px 10px;
    width: 100px;
}

header i {
    margin-left: 1ch;
    font-size: 20px;
}